# **# Data Types and Structures Assignment**

**Theoretical Questions**

# 1. What are data structures, and why are they important?

Data structures are ways to store and organize data in a computer to make it easy to use.
We can think of them as containers like boxes or shelves for data.
They’re important because they help:
- Store data efficiently
- Make operations like searching or sorting faster
- Keep code clean and organized
Example: A list can hold a collection of grades, and a dictionary can map student names to their scores.

# 2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation, like adding to a list.
Immutable data types can’t be changed; a new object must be created.

Example:
- Mutable: Add a number to a list of scores.
- Immutable: Can’t change a letter in a word; need a new word.

scores = [90, 85]

scores.append(95)  # List becomes [90, 85, 95] #thats an example of mutable data

now for immutable data :

word = "Om"

new_word = "Tom"  # Creates a new string, "Om" stays unchanged .

# 3. What are the main differences between lists and tuples in Python?

Lists:
- Can be changed (mutable)
- Use square brackets []
- Slower than tuples
Tuples:
- Can’t be changed (immutable)
- Use parentheses ()
- Faster than lists
Example:

my_list = [1, 2, 3]

my_list[0] = 10  # Works: list is mutable

my_tuple = (1, 2, 3)

my_tuple[0] = 10  # Error: tuple is immutable

# 4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs, like a phonebook linking names to numbers.
Keys are unique and immutable (like strings or numbers), and values can be anything.
Use keys to access values quickly.
Example:

student = {"name": "Om", "grade": 95}

print(student["name"])  # Gets "Om"

# 5. Why might a set be used instead of a list in Python?

Sets are useful for:
- Keeping only unique items
- Fast checks for existence
- Operations like union or intersection

Example: Remove duplicates from a list of colors.

colors = ["blue", "red", "blue"]

unique_colors = set(colors)  # Keeps unique colors

# 6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters, like "Om", and it’s immutable (can’t change).

A list is a mutable sequence of any data type, using [].

Example:

my_string = "Om"  # Can’t change characters

my_list = ["O", "m"]  # Can change elements

my_list[0] = "P"  # Works

 my_string[0] = "P"  # Error

# 7. How do tuples ensure data integrity in Python?

Tuples are immutable, so their data can’t be changed after creation.

This keeps data consistent, like for a fixed birthdate.

Example:

birthdate = (2005, 7, 26)  # Can’t modify

 birthdate[0] = 2006  # Error

# 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a structure that maps keys to values using a hash function for fast access.

Python dictionaries use hash tables to store key-value pairs efficiently.

Example:

my_dict = {"name": "Om", "age": 20}  # Keys are hashed for quick access

# 9. Can lists contain different data types in Python?
Yes, lists can hold a mix of data types, like numbers, strings, or other lists.

Example:

mixed = [1, "Om", 3.14, [4, 5]]

# 10. Explain why strings are immutable in Python.

Strings are immutable to save memory and keep them safe in functions.
To modify a string, a new one must be created.

Example:

name = "Om"

new_name = name + "upadhyay"  # Creates new string

# 11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries are great for:
- Fast lookup by key
- Pairing data (e.g., names to grades)

Example: Finding a grade by name is faster with a dictionary.


grades = {"Om": 95, "Alice": 90}

print(grades["Om"])  # Quick access

# 12. Describe a scenario where using a tuple would be preferable over a list.

Tuples are better for data that shouldn’t change, like a student ID and name pair.

This prevents accidental changes.

Example:

student_info = ("12345", "Om")  # Fixed data

# 13. How do sets handle duplicate values in Python?

Sets automatically remove duplicates, keeping only unique values.

Example:

numbers = [1, 1, 2, 3]

unique_set = set(numbers)  # Becomes {1, 2, 3}

# 14. How does the 'in' keyword work differently for lists and dictionaries?

- Lists: Checks if an item is in the list (slower, checks each element).
- Dictionaries: Checks if a key exists (faster, uses hash table).

Example:

my_list = [1, 2, 3]

my_dict = {"name": "Om", "age": 20}

print(2 in my_list)  # Checks values

print("name" in my_dict)  # Checks keys

# 15. Can the elements of a tuple be modified? Explain why or why not.

No, tuple elements can’t be modified because tuples are immutable.
This protects data but requires creating a new tuple for changes.

Example:

my_tuple = (1, 2, 3)

 my_tuple[0] = 4  # Error

# 16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary inside another dictionary.
It’s useful for complex data, like grades for multiple subjects.

Example:


students = {
    "Om": {"math": 95, "science": 90},

  "Alice": {"math": 88, "science": 85}
}

print(students["Om"]["math"])  # Gets 95

# 17. Describe the time complexity of accessing elements in a dictionary.

Accessing a dictionary value by key is O(1) due to the hash table.

Example:

my_dict = {"name": "Om"}

print(my_dict["name"])  # Fast lookup

# 18. In what situations are lists preferred over dictionaries?

Lists are better for:
- Ordered data
- Allowing duplicates
- Accessing by position (index)

Example: A list of test scores in order.

scores = [90, 85, 95]

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries don’t guarantee order (though Python 3.7+ keeps insertion order).
Data is retrieved by key, so order doesn’t affect lookup.

Example:

my_dict = {"b": 2, "a": 1}

print(my_dict["a"])  # Works regardless of order

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.

- Lists: Access by index (O(1)), but searching for a value is O(n).
- Dictionaries: Access by key (O(1)), no index-based access.

Example:

my_list = [10, 20, 30]

my_dict = {"score1": 10, "score2": 20}

print(my_list[1])  # Gets 20

print(my_dict["score2"])  # Gets 20

# Practical Questions

In [1]:
# 1. Write a code to create a string with my name and print it.
my_name = "Om"
print(my_name)

Om

In [2]:
# 2. Write a code to find the length of the string 'Hello World'.
text = "Hello World"
print(len(text))

11

In [30]:
# 3. Write a code to slice the first 3 characters from the string 'Python Programming'.
text = "Python Programming"
print(text[:3])

Pyt

In [3]:
# 4. Write a code to convert the string 'hello' to uppercase.
text = "hello"
print(text.upper())

HELLO

In [4]:
# 5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'.
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [5]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [6]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [7]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [8]:
# 9. Write a code to access the second element in the list ["a", "b", "c", "d"].
my_list = ["a", "b", "c", "d"]
print(my_list[1])

b

In [9]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [10]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [11]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [12]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [13]:
# 14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [14]:
# 15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [15]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [16]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [17]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [18]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [19]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [20]:
# 21. Write a code to create a dictionary with the keys 'name', 'age', and 'city' and print it.
my_dict = {'name': 'Om', 'age': 20, 'city': 'Mumbai'}
print(my_dict)

{'name': 'Om', 'age': 20, 'city': 'Mumbai'}

In [21]:
# 22. Write a code to add a new key-value pair 'country': 'India' to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'India'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'India'}

In [22]:
# 23. Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [23]:
# 24. Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [24]:
# 25. Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [25]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Om', 'score': 95}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Om', 'score': 95}

In [26]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[12, 22, 24, 44, 95]

In [27]:
# 28. Write a code to create a list with strings and print the element at the third index.
strings = ['apple', 'banana', 'orange', 'grape', 'kiwi']
print(strings[2])

orange

In [28]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
# 30. Write a code to convert a list of strings into a set.
string_list = ['cat', 'dog', 'cat', 'bird']
string_set = set(string_list)
print(string_set)

{'cat', 'bird', 'dog'}